*.pdf
*.docx
*.zip
*.csv
*data/
*model_runs/
*CIE Review*
*sources/
*notebooks/
*Rhistory
*shared
.Rhistory
*dep*
.Rproj.user/D4E32EAC/ctx/ctx-51095/console_actions
.Rproj.user/D4E32EAC/ctx/ctx-51095/environment
.Rproj.user/D4E32EAC/ctx/ctx-51095/history
.Rproj.user/D4E32EAC/ctx/ctx-51095/settings
.Rproj.user/D4E32EAC/pcs/debug-breakpoints.pper
.Rproj.user/D4E32EAC/pcs/files-pane.pper
.Rproj.user/D4E32EAC/pcs/windowlayoutstate.pper
.Rproj.user/D4E32EAC/pcs/workbench-pane.pper
.Rproj.user/D4E32EAC/quarto-crossref/2462B14E
.Rproj.user/D4E32EAC/quarto-crossref/E61D84D9
.Rproj.user/D4E32EAC/quarto-crossref/INDEX
.Rproj.user/D4E32EAC/rmd-outputs
.Rproj.user/D4E32EAC/sources/prop/1BD9D6FA
.Rproj.user/D4E32EAC/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
