*.pdf
*.docx
*.zip
*.csv
*data/
*model_runs/
*runs_for_cole
*CIE Review*
*sources/
*notebooks/
*re/2021*
*re/2019*
*Rhistory
*shared
.Rhistory
*dep*
Rproj.user*
.RData
.Rproj.user/D4E32EAC/ctx/ctx-60846/environment
.RData
*Rproj*
figs/Capture.PNG
.Rproj.user
.Rproj.user/shared/notebooks/paths
.Rproj.user/D4E32EAC/pcs/windowlayoutstate.pper
.Rproj.user/D4E32EAC/pcs/source-pane.pper
.Rproj.user/D4E32EAC/pcs/files-pane.pper
